.color {
    display: inline-block;
    border: 1px solid black;
    width: 70px;
    height: 70px;
}
.color-black {
    background-color: black !important;
}
.color-blue {
    background-color: blue !important;
}
.color-green {
    background-color: green !important;
}
.color-pink {
    background-color: pink !important;
};
#color-white {
    background-color: white;
}
.pixel {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}
#pixel-board {
    display: grid;
    grid-template-columns: repeat(5, 40px);
}
/* #clear-board {
    display: block;
    margin: 10px;
} */