@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Gochi+Hand&family=Luckiest+Guy&display=swap');

#title {
  font-family: 'Bungee Shade', cursive;
  font-size: 60px;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(0, 36, 22);
  background: linear-gradient(336deg, rgba(0, 36, 22, 1) 0%, rgba(121, 9, 118, 1) 35%, rgba(0, 215, 255, 1) 100%);
}

.section-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.color {
  display: inline-block;
  border: 2px solid black;
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

.pixel {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
  transition: transform 0.3s ease;
  border-radius: 5px;
}

.pixel:active {
  transform: scale(0.9);
}

#pixel-board {
  display: grid;
}

input {
  margin: 10px 10px;
  border-radius: 10px;
  width: 90px;
  height: 20px;
}

input:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

button {
  transition: box-shadow 0.3s ease;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  width: 90px;
  height: 25px;
}

button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}